@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
  --font-display: var(--font-inter), sans-serif;
  --font-sans: var(--font-inter), sans-serif;
  --font-montserrat: var(--font-montserrat), sans-serif;

  --color-primary: #3B82F6;
  --color-accent: #F97316;

  --color-background-light: #FFFFFF;
  --color-background-off-white: #F9FAFB;
  --color-background-dark: #111827;

  --color-container-light: #FFFFFF;
  --color-container-dark: #1F2937;

  --color-text-light-primary: #1F2937;
  --color-text-dark-primary: #F9FAFB;
  --color-text-light-secondary: #6B7280;
  --color-text-dark-secondary: #9CA3AF;

  --radius-DEFAULT: 0.75rem;
}

html {
  scroll-behavior: smooth;
}

.material-icons-outlined {
    font-feature-settings: 'liga';
}

@layer components {
    .container {
        @apply mx-auto px-6;
    }
}
